currenct.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CurrencyService" targetNamespace="http://service.crowdfunding.ntt.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.crowdfunding.ntt.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.crowdfunding.ntt.com/" version="1.0" xmlns:tns="http://service.crowdfunding.ntt.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="createOrUpdateCurrency" type="tns:createOrUpdateCurrency"/>
<xs:element name="createOrUpdateCurrencyResponse" type="tns:createOrUpdateCurrencyResponse"/>
<xs:complexType name="createOrUpdateCurrency">
    <xs:sequence>
      <xs:element name="request" type="tns:newCurrencyRequest"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="newCurrencyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationId" type="xs:string"/>
      <xs:element minOccurs="0" name="currencyModel" type="tns:currencyModel"/>
      <xs:element minOccurs="0" name="userData" type="tns:userData"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="currencyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation_user" type="xs:string"/>
      <xs:element minOccurs="0" name="currencyId" type="xs:string"/>
      <xs:element minOccurs="0" name="domini" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="start_charge" type="xs:string"/>
      <xs:element minOccurs="0" name="start_tecnic_charge" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="userData">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="uniqueIdentifier" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="projectList" nillable="true" type="tns:projectData"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transactionList" nillable="true" type="tns:transactionData"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="walletItemList" nillable="true" type="tns:walletItemData"/>
      <xs:element name="currency" type="tns:currencyModel"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="projectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualAmount" type="xs:long"/>
      <xs:element minOccurs="0" name="budgetAmount" type="xs:long"/>
      <xs:element minOccurs="0" name="currencyId" type="xs:integer"/>
      <xs:element minOccurs="0" name="currencyName" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="projectState" type="tns:projectState"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transactionList" nillable="true" type="tns:transactionData"/>
      <xs:element minOccurs="0" name="uniqueIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="userUniqueIdentifier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="transactionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:long"/>
      <xs:element minOccurs="0" name="counterpartyUniqueIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="currency" type="tns:currency"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonCode" type="xs:long"/>
      <xs:element minOccurs="0" name="reasonCodeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="transactionIdentifier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="walletItemData">
    <xs:sequence>
      <xs:element name="available_amount" type="xs:long"/>
      <xs:element minOccurs="0" name="currencyName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createOrUpdateCurrencyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:newCurrencyResponse"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="newCurrencyResponse">
    <xs:complexContent>
      <xs:extension base="tns:serviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="currencyDataModel" type="tns:currencyDataModel"/>
          <xs:element minOccurs="0" name="currencyModel" type="tns:currencyModel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="serviceResponse">
    <xs:sequence>
      <xs:element name="errorCode" type="xs:long"/>
      <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="currencyDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="creation_user" type="xs:string"/>
      <xs:element minOccurs="0" name="currencyId" type="xs:integer"/>
      <xs:element minOccurs="0" name="domini" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="start_charge" type="xs:string"/>
      <xs:element minOccurs="0" name="start_tecnic_charge" type="xs:string"/>
      <xs:element minOccurs="0" name="tecnic_user_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="projectState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENTERED"/>
      <xs:enumeration value="REJECTED"/>
      <xs:enumeration value="FUNDRAISING"/>
      <xs:enumeration value="UNFUNDED"/>
      <xs:enumeration value="FUNDED_EVALUATING"/>
      <xs:enumeration value="FUNDED_UNFEASIBLE"/>
      <xs:enumeration value="FUNDED_UNDERESTIMATED"/>
      <xs:enumeration value="FUNDED_REDESIGN"/>
      <xs:enumeration value="FUNDED_EXECUTING"/>
      <xs:enumeration value="FUNDED_EXECUTED"/>
      <xs:enumeration value="FUNDED_RATED"/>
      <xs:enumeration value="DRAFT"/>
      <xs:enumeration value="SUBMITTED"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="EXPIRED"/>
      <xs:enumeration value="FUNDED"/>
      <xs:enumeration value="WORKABLE"/>
      <xs:enumeration value="SCORED"/>
      <xs:enumeration value="UNDOABLE"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EURO"/>
      <xs:enumeration value="DOLLAR"/>
      <xs:enumeration value="VIRTUAL_CURRENCY"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createOrUpdateCurrency">
    <wsdl:part element="tns:createOrUpdateCurrency" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrUpdateCurrencyResponse">
    <wsdl:part element="tns:createOrUpdateCurrencyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CurrencyService">
    <wsdl:operation name="createOrUpdateCurrency">
      <wsdl:input message="tns:createOrUpdateCurrency" name="createOrUpdateCurrency">
    </wsdl:input>
      <wsdl:output message="tns:createOrUpdateCurrencyResponse" name="createOrUpdateCurrencyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyServiceSoapBinding" type="tns:CurrencyService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createOrUpdateCurrency">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createOrUpdateCurrency">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrUpdateCurrencyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyService">
    <wsdl:port binding="tns:CurrencyServiceSoapBinding" name="CurrencyServicePort">
      <soap:address location="http://localhost:8004/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
